:root {
  --primary-color: rgb(207, 167, 91);
  --main-color: #f5e768;
  --heading-font: "Playfair Display", serif;
  --body-font: "Poppins", sans-serif;
}
.whole {
  background: rgb(241, 241, 241);
  padding: 20px;
}

.wrapper {
  background-color: white;
  padding: 15px;
}
h1 {
  font-family: var(--heading-font);
  font-weight: bold;
  font-size: 63px;
  position: relative;
  top: 200px;
  left: 50px;
}
.second-wrapper,
.third-wrapper {
  background-color: var(--main-color);
  padding: 15px;
}

h2 {
  font-family: var(--body-font);
  font-weight: normal;
  font-size: 30px;
}
p {
  font-family: var(--body-font);
  font-weight: 1%;
  font-size: 12px;
}

.btn-nonactive {
  background: var(--primary-color);
  font-family: var(--heading-font);
  text-decoration: none;
  border-radius: 3px;
  color: black;
  font-size: 12px;
  padding: 5px 5px;
}

@media (max-width: 600px) {
  .whole {
    padding: 25px;
  }

  .wrapper {
    padding: 45px;
  }
  h1 {
    font-size: 38px;
    top: 100px;
    left: -29px;
  }
  .second-wrapper,
  .third-wrapper {
    padding: 7.5px;
  }

  h2 {
    font-size: 15px;
  }
  p {
    font-size: 8px;
  }
}
